{% extends 'layouts/default.html.twig' %}

{% block title %}
	{{ jeu.name }}
{% endblock %}

{% block body %}
	<div>
		<a href="{{ path('homepage') }}">Accueil</a>
		>
		<a href="{{ path('app_jeux') }}">Liste des jeux</a>
		<h1>
			{{ jeu.name }}
		</h1>
		<img src="/images/Jeux/{{jeu.slug}}.avif" alt="jeu.name" class="logoJeu" />
		{{ include('configurateur/configDetails.html.twig') }}
	</div>
	<style>
		.logoJeu { width: 200px; }
	</style>
{% endblock %}
